---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Services from '../components/Services.astro';
import About from '../components/About.astro';
import Showcase from '../components/Showcase.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import ChatBot from '../components/ChatBot.astro';
import Header from '../components/Header.astro';
import Testimonials from '../components/Testimonials.astro';
import Partners from '../components/Partners.astro';
import Process from '../components/Process.astro';
import Gallery from '../components/Gallery.astro';
import Ticker from '../components/Ticker.astro';
---

<Layout title="Inicio">
	<Header />

	<main>
		<Hero />
		<Ticker />
		<Services />
		<About />
		<Showcase />
		<Testimonials />
		<Partners />
		<Process />
		<Gallery />
		<Contact />
	</main>
	<ChatBot />
	<Footer />
</Layout>

<style>
	@reference "../styles/global.css";
</style>

